
// light theme 

    $main-theme-light:rgb(71, 126, 143);
    $second-theme-light:rgb(97, 178, 192);
    $link-color-light: rgb(211, 211, 211);
    $hover-color-light: rgb(71, 126, 143);


    $clr-01: #ffffff;
    $clr-02: #F5F6F8;
    $clr-03: #C2CFE0;
    $clr-031: #90A0B7;
    $clr-04: #34AFF9;
    $clr-05: #334D6E;
    $clr-06: #192A3E;


// dark theme