@import './style/colors.scss';
@import './style/helpers.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    color:$link-color-light;
    
}
a{
    text-decoration: none;
}

// header


.app-header{
    height: 100px;
    background:$clr-01;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-header__list{
    list-style-type: none;
    display: flex;
    padding-right: 30px;
    align-items: center;

   li{
        padding: 0 5px;
    }
}
.app-header__logo{
    width:250px;
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid $clr-02;
    img{
        width: 50px;
        height: auto;
        margin:0 20px;
    }
  
}
.overlay{
    position: fixed;
    top:10%;
    left:0;
    right:0;
    margin:auto;
    height:300px;
    width: 300px;
    background:rgb(202, 202, 202);
    z-index: 999;
    -webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
box-shadow: 0px 0px 100px 1200px rgba(0,0,0,0.75);
}

// dashboard 


.dashboard{
    display: grid;
    background:$clr-02;
    grid-template-columns: 250px 1fr;
    grid-template-rows: minmax(100vh, 1fr);
    grid-column-gap: 10px;

}
.dashboard-nav{
    background:$clr-01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        li{
           padding:30px;
        
        }
        li:hover{
            background: $hover-color-light;
            cursor: pointer;
        }
    }
}