@import './style/colors.scss';
@import './style/helpers.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    padding-right: 5px;
    color:$clr-05;
}
// header

.app-header{
    height: 100px;
    background:$clr-01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr-02;
    box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.25);
}
.app-header__list{
    list-style-type: none;
    display: flex;
    padding-right: 30px;
    align-items: center;

   li{
        padding: 0 5px;
    }
}
.app-header__logo{
    width:250px;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid $clr-02;
    img{
        width: 50px;
        height: auto;
        margin:0 20px;
    }
}
.app-header__logo--mini{
    width:80px;
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid $clr-02;
    img{
        width: 50px;
        height: auto;
        margin:0 10px;
    }
    p{
        display: none;
    }
}
.overlay{
    position: fixed;
    top:10%;
    left:0;
    right:0;
    margin:auto;
    height:300px;
    width: 300px;
    background:rgb(202, 202, 202);
    z-index: 999;
    -webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
box-shadow: 0px 0px 100px 1200px rgba(0,0,0,0.75);
}

// dashboard 
.dashboard-mini{
    display: grid;
    background:$clr-02;
    grid-template-columns: 90px 1fr;
    grid-template-rows: minmax(calc(100vh - 100px), 1fr);
    grid-column-gap: 10px;
    color:$clr-03;
    .title, p, h3{
        display: none;
    }
    img{
        height: 60px;
        width:60px;
        border-radius: 50%;
        object-fit: cover;
    }
   
}

.dashboard{
    display: grid;
    background:$clr-02;
    grid-template-columns: 250px 1fr;
    grid-template-rows: minmax(calc(100vh - 100px), 1fr);
    grid-column-gap: 10px;
    color:$clr-03;
}
.dashboard-nav{
    background:$clr-01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    flex-direction: column;
  
    .menu-wrapper{
       min-height: calc(100vh - 320px);

    }
    .dashboard-nav__about{
        display: flex;
        flex-direction: row;
        padding:0 15px;
        justify-content: space-around;
        align-items: center;
        height: 140px;
        min-width: 60px;
        
       
        h3{
            color:$clr-05;
        }
        p{
            color: $clr-03;
            font-size: 11px;
        }
        img{
            height: 60px;
            width:60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
 
   
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top:10px;
       
      
        li{
           padding:15px 35px;
           display: flex;
            align-items: center;
          
        a{
            display: flex;
            align-items: center;
        }
        
           .svg-wrap{
               width:35px;
         
           }

           svg{
               margin-right: 20px;
               font-size: 20px;
               color:$clr-03;
               
               
           }
        
        }
        li:hover svg{
           color:$clr-04;
            cursor: pointer;
        }
        li:hover a{
            color:$clr-04;
             cursor: pointer;
         }
    }
}